<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello <%=name%></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo explicabo
      quod incidunt ducimus perferendis asperiores repudiandae ipsam quos
      cumque, nihil suscipit assumenda sunt cum aperiam temporibus
      exercitationem quibusdam in. Sunt?
    </p>
    <p style="background-color: orange; padding: 10px"><%=numbers%></p>
    <% if(name == "Zain"){ %>
    <div>Name IS Zain</div>
    <% } %>
  </body>
</html>
